<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DATA_PATH" value="D:\tottori\maptool\data" />
		<add key="USER_LAY_PATH" value="D:\tottori\maptool\data\ulay" />
		<add key="BASE_AREA" value="5" />
		<add key="SEARCHLAYER_LIMIT1" value="5" />
		<add key="SEARCHLAYER_LIMIT2" value="50" />
		<add key="USE_IMAGE" value="false" />
		<add key="INIT_ZX" value="-9471.95148405442" />
		<add key="INIT_ZY" value="-56429.0912982006" />
		<add key="DEBUG" value="false" />
		<add key="LIMIT_PRIF" value="31" />
		<add key="LIMIT_PRIF_NAME" value="鳥取県" />
		<add key="LIMIT_CITY" value="50,60,70,80,90" />
	</appSettings>
</configuration>